---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const allProjects = await getCollection("projects");
---

<BaseLayout title="Proyectos">
    <div class="max-w-[1248px] mx-auto">
        <h1 class="text-3xl font-bold my-10">Proyectos</h1>

        <div class="flex flex-wrap gap-5">
            {
                allProjects.map((project) => (
                    <>
                        <ProjectCard project={project} showSummary={true} />
                    </>
                ))
            }
        </div>
    </div>
</BaseLayout>
