---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import ResearchCard from "../components/ResearchCard.astro";

const base_url = import.meta.env.BASE_URL;
const bg_url = `url(${base_url}/patterns/bg.webp)`;

const allResearchs = await getCollection("researchs");

allResearchs.sort((a, b) => b.data.year - a.data.year);
---

<BaseLayout title="Proyectos">
    <div
        id="lema"
        class="flex flex-col items-center gap-4 sm:grid sm:grid-cols-3 px-5 py-10 bg-main-pattern text-center text-cod_gray-50"
    >
        <div class="flex justify-center">
            <p class="text-2xl font-bold">Investigación</p>
        </div>
        <div class="flex items-center justify-center col-span-2">
            <!-- <p class="text-2xl bold">hi</p> -->
        </div>
    </div>

    <div class="f-full flex flex-col justify-center gap-5 my-5 items-center">
        {allResearchs.map((research) => <ResearchCard research={research} />)}
    </div>
</BaseLayout>

<style define:vars={{ bg_url }}>
    .bg-main-pattern {
        @apply bg-Shiraz-800;
        background: linear-gradient(
                0deg,
                rgba(18, 18, 18, 0.4) 0%,
                rgba(18, 18, 18, 0.4) 100%
            ),
            linear-gradient(
                90deg,
                rgba(22, 22, 22, 0.6) 0%,
                rgba(0, 0, 0, 0) 100%
            ),
            var(--bg_url);
        @apply bg-no-repeat bg-center bg-cover;
    }
</style>
