---
// import { Image } from "astro:assets";

import brand from "../../assets/img/brand/brand_dark.svg";
import brand_small from "../../assets/img/brand/sm_light.svg";

import Contact from "../common/Contact.astro";
import HeaderLink from "./HeaderLink.astro";
---

<header>
    <div
        id="utility-header"
        class="bg-cod_gray-950 text-cod_gray-50 text-sm grid grid-cols-2 p-2 sm:px-20"
    >
        <div id="brand-small" class="flex flex-row gap-4 items-center">
            <a href="/">
                <img
                    src={brand_small.src}
                    alt="GIEd"
                    width={35}
                    loading="eager"
                    decoding="async"
                />
            </a>
        </div>

        <div class="flex justify-end">
            <div class="flex flex-row gap-4 items-center">
                <Contact />
            </div>

            <!-- <button id="togle-menu" class="block sm:hidden">|||</button> -->
        </div>
    </div>

    <div id="main-header" class="sm:!px-20">
        <div id="brand" class="hidden sm:flex">
            <a href="/">
                <img
                    src={brand.src}
                    alt="Grupo de Investigación en informática educativa"
                    width={200}
                    loading="eager"
                    decoding="async"
                />
            </a>
        </div>
        <nav class="flex flex-row justify-center sm:justify-end gap-10">
            <!-- <HeaderLink href="/">Sobre GIEd</HeaderLink>
            <HeaderLink href="/projects">Proyectos</HeaderLink>
            <HeaderLink href="/research">Investigación</HeaderLink> -->
        </nav>
    </div>

    <style>
        #main-header {
            @apply p-5;

            @apply text-cod_gray-950 bg-cod_gray-50;
            @apply w-full h-fit;
            @apply relative;
            @apply shadow-none;

            @apply sm:grid sm:grid-cols-2 items-center;
        }
    </style>
</header>
